.container 
  padding: 5%
  width: 100%

  border-radius: 12px
  border: 1px solid #666666

.text 
  color: #ffffff


.flex 
  margin-top: 20px
  display: flex
  justify-content: space-between
  max-width: 25%
