.section
    width: 100%
    padding-bottom: 20px

.form
    height: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 40px
    background-color: rgba(87,136,200,.15)
    border-radius: 7px
    padding: 40px 0

.formGroup
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center