.footer
    max-width: 1200px
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 auto
    padding: 35px 0
    color: #fff

.link
    bottom: 30px
    text-align: center
    text-decoration: underline