.section
    width: 100%
    margin: 0 auto

    padding: 30px 30px 100px

.text
    max-width: 50%
    font-size: 2em

.img
    width: 40%
    height: 100%

.wrapper
    display: flex
    justify-content: space-between
    align-items: center
.btn
    width: 100%
    
.arrow
    transform: rotate(90deg)
    margin: 0 auto
    width: 100px
    height: 100px



@media screen and (max-width: 1200px)
    .section
        padding: 120px 30px 80px

@media screen and (max-width: 999px)
    .text
        font-size: 1.5em

    .section
        padding: 120px 30px 80px

@media screen and (max-width: 850px)
    .text
        font-size: 1.5em

    .section
        padding: 200px 30px 100px

@media screen and (max-width: 650px)
    .img
        width: 80%
    .section
        flex-direction: column-reverse
        padding: 200px 30px 100px
    .text
        max-width: 90%
