.form
    display: flex
    gap: 40px
    flex-direction: column
    width: 60%
    margin: 0 auto
    background-color: rgba(87, 136, 200, 0.15)
    border-radius: 8px
    padding: 40px
    height: max-content
    justify-content: center
    // align-items: center

.inputGroup
    display: flex
    justify-content: space-between
    position: relative

.inputGroup, ymaps
    color: black

.lable
    font-size: 1em
    color: white

.title
    font-size: 2em
    text-align: center
    
input, textarea
    width: 60%

.buttons
    display: flex
    justify-content: center
    gap: 40px
.inputError
    color: #a00303
    position: absolute
    right: 20px
    bottom: -24px

.mapWrapper
    margin: 0 auto
