.form
    display: flex
    gap: 40px
    flex-direction: column
    width: 60%
    margin: 0 auto

.inputGroup
    display: flex

    justify-content: space-between

.lable
    font-size: 1em

.input

.inputError

.inputPass

.showPass

    
.element
    display: flex
    gap: 40px

.title
    font-size: 2em
    text-align: center

.buttons
    display: flex
    justify-content: center
    gap: 40px